---
layout: default
title: Home 
description: ""
category: ""
thumbnail: ""
tags: ""
---

<div id="home">
    <div class="about">

ABOUT
Hi there! I run a NYC-based web development firm, along with a team of experts in design, development, and deployment. We also offer personalized hosting and maintenance services.

We believe in clean website designs with minimal distraction, hand-lettered elements, and snappy, responsive styling. We believe that in order to be effective your branding should be consistent across all mediums.

I am a happy father of two, and my fiancée and I split our time between Manhattan and the West Coast.
</div>

  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts limit: 2 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>

    <br />
    {% if page.image %}
    <a href="{{ post.url }}"><img src="{{ post.image}}" style="height: 480px" align="center" /></a>
    {% else %}
        <img src="/assets/nothumb.png"
        style="height: 280px" align="center" />
    {% endif %}

    {% endfor %}
  </ul>
</div>
<div class="infinite-spinner"></div>
