/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


$tan1: #D8CCB2;
$tan2: #CCBD9E;
$blue1: #495168;
$blue2: #2A2344;
$blue3: #260729;

body {
}
.logo {
    max-width: 200px;
}

.odd {
    background-color: #fff;
    color: $blue1;
}
.even {
    background-color: $tan1;
    color: $tan1;
}
.post {
    max-width: 700px;
    margin: 0 auto 80px;
}
.color {
    max-width: 100%;
    width: 100%;
    background-color: $blue1;
    border-top: 1px solid $blue2;
    border-bottom: 1px solid $blue2;
}
