{% include head.html %}

        <div class="site">
            <div style="width:50%;text-align:center;margin: 0 auto;">
                <a href="/"><img src="{{ site.url }}/assets/logo.png" style="width:100%;height:auto"/></a>
                <p>Web Design & Print Media</p>
            </div>
            <hr />
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Elihu Bogan<br />
                Web Development<br />
                elihubogan@gmail.com 
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/elihubogan">github.com/elihubogan</a><br />
                <a href="https://twitter.com/elihubogan">twitter.com/elihubogan</a><br />
              </p>
            </div>
        </div>
        <hr />
      </div>
      {% include nav.html %}
{% include foot.html %}
